*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body{
    width: 100%;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
header{
    background-image: url(images/hero.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    /* position: fixed; */
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 6%;
}
nav h2 a{
    text-decoration: none;
    font-size: 30px;
    color: black;
}
.nav-links{
    text-align: right;
     flex: 1;
}
nav .nav-links ul li {
    display: inline-block;
    font-size: 23px;
    padding: 2px 8px;
    list-style: none;
    font-weight: 400;
   
}
nav .nav-links ul li a{
    text-decoration: none;
    color: black;
    position: relative;
}
nav .nav-links ul li a:hover{
    color: red;
}
nav .nav-links ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    background: brown;
    margin: auto;
    transition: 0.5s;
}
nav .nav-links ul li a:hover::after{
    width: 100%;
}
nav .fa{
    font-size: 20px;
    display: none;
    color: #000;
}
.text-box{
    padding-top: 50px;
    padding-left: 100px;
    text-align: left;
    width: 600px;
}
.text-box p{
    font-size: 23px;
    padding-bottom: 20px;  
}
.text-box p i{
    color: red;
    cursor: pointer;  
}
.text-box .heading h2{
    font-size: 50px;
    padding-bottom: 20px;
}
.text-box button{
    padding: 10px 12px;
    margin-right: 20px;
    font-size: 15px;
    width: 200px;
    background-color: orange;
    border: 1px solid black;
    border-radius: 20px;
    transition: 1s;
    margin-bottom: 20px;
    cursor: pointer;
}
.text-box button:hover{
    background-color: rgb(196, 63, 30);
}

/* Welcome section */

.blog{
    margin-top: 100px;
    margin-bottom: 100px;
}
.blog .blog-text{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.blog .blog-text h2{
    font-size: 40px;
    padding-bottom: 10px;
}
.blog .blog-text p{
    width: 600px;
    text-align: center;
    padding-bottom: 50px;
}
.blog .blog-images ul li img{
    width: 300px;
   cursor: pointer;
}
.blog .blog-images ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    list-style: none;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.blog .blog-images ul li{
    transition: 1s;
}
.blog .blog-images ul li :hover{
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 1, 0.1);
}
.blog .blog-images ul li img{
    transition: 0.3s;
}
.blog .blog-images ul li img:hover{
    transform: scale(1.01);
}

/* About Section */

.about-sec{
    display: flex;
    margin-top: 100px;
    padding: 30px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 1, 0.1);
}
.about-sec .about-img img{
    width: 600px;
    transition: 1s;
}
.about-sec .about-img img:hover{
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 1, 0.1);
}
.about-sec .about-text{
    padding-left: 40px;
}
.about-sec .about-text h2{
    font-size: 50px;
}
.about-sec .about-text p{
    padding-top: 20px;
    font-size: 23px;
}

/* Feature section */

.feature-sec .feature-text{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.feature-sec .feature-text h2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 40px;
}
.feature-sec .feature-text p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 600px;
    margin-bottom: 20px;
}
.feature-sec .feature-img{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 1, 0.1);
    padding-bottom: 50px;
}
.feature-sec .feature-img ul li img{
    width: 350px;
    height: 300px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    padding: 20px;
    transition: 0.4s;
}
.feature-sec .feature-img ul li img:hover{
    transform: scale(1.01);
}
.feature-sec .feature-img ul li{
    height: 360px;
    transition: 0.4s;
     box-shadow: 10px 10px 10px 10px rgba(0, 0, 1, 0.1);
    cursor: pointer;
}
.feature-sec .feature-img ul li:hover{
    transform: scale(1.01);
}
.feature-sec .feature-img ul li h3{
    padding-left: 120px;
    padding-bottom: 20px;
    gap: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.feature-sec .feature-img ul li h3:hover{
    color: red;
}
.feature-sec .feature-img ul{
    list-style: none;
    padding: 20px;
}
    
/* Best Seller Section */

.bestseller-sec {
    margin-top: 100px;   
    margin-bottom: 100px;
}
.bestseller-sec .bestseller-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bestseller-sec .bestseller-text h2{
    font-size: 40px;
}
.bestseller-sec .bestseller-text p{
    width: 500px;
    padding-bottom: 40px;
}
.bestseller-sec .bestseller-img{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 1, 0.1);
    padding: 30px 0 30px;
    cursor: pointer;
}
.bestseller-sec .bestseller-img ul li img{
    width: 300px;
    height: 270px;
}
.bestseller-sec .bestseller-img ul {
    list-style: none;
    padding: 20px;
    transition: 0.4s;
}
.bestseller-sec .bestseller-img ul:hover{
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 1, 0.1);
    transform: scale(1.01);
}
.bestseller-sec .bestseller-img ul li h3{
    padding-left: 100px;
    padding-top: 10px;
}
.bestseller-sec .bestseller-img ul li h3:hover{
    color: red;
    cursor: pointer;
}

/* Footer Section */

.footer-sec{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    padding: 40px 0 40px;
}
.footer-sec .col-1 h2{
    font-size: 30px;
}
.footer-sec .col-1 p{
    width: 200px;
    padding: 10px 0 20px;
}
.footer-sec .col-1 .col-1-icons i{
    font-size: 1.4rem;
    padding-right: 20px;
    cursor: pointer;
}
.footer-sec .col-1 .col-1-icons i:hover{
    color: red;
}
.footer-sec .col-2 h3{ 
    font-size: 1.5rem;
    padding-bottom: 10px;
}
.footer-sec .col-2 ul li{
    list-style: none;
    padding-bottom: 10px;    
}
.footer-sec .col-2 ul li a{
   text-decoration: none;
   color: #000;
}
.footer-sec .col-2 ul li a:hover{
    color: blue;
}
.footer-sec .col-3 h3{
    font-size: 1.5rem;
    padding-bottom: 10px;
}
.footer-sec .col-3 ul li{
    list-style: none;
    padding-bottom: 10px;
    cursor: pointer;
}
.footer-sec .col-4 h3{
    font-size: 1.5rem;
    padding-bottom: 10px;
}
.footer-sec .col-4 ul li{
    list-style: none;
    padding-bottom: 10px;
}
.foot-link{
    text-align: center;
    padding: 20px 0 20px;
}
.foot-link a{
    text-decoration: none;
    color: #000;
}

@media(max-width:700px) {

nav .nav-links ul li{
    display: block;
}
.nav-links{
    position: fixed;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    background-color: antiquewhite;
    z-index: 2;
    transition: 1s;      
}
nav .nav-links ul li{
    text-align: left;
    padding: 10px;
    font-size: 23px;      
}
nav .fa{
    display: block;
    padding: 20px;
    text-align: left;
    cursor: pointer;
    font-size: 1.5rem;
}  
.text-box{
    padding-top: 100px;
    padding: 10px;
    text-align: left;
    width: auto;
}
.text-box .heading h2{
    font-size: 30px;
    padding-bottom: 20px;
}
.text-box p{
    font-size:18px;
    padding-bottom: 20px;
    width: 300px;
}

.blog .blog-text h2{
    font-size: 30px;
    padding-bottom: 10px;
}
.blog .blog-text p{
    width: 300px;
    text-align: center;
    padding-bottom: 50px;
}
.blog .blog-images ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.blog .blog-images ul li{
    padding-bottom: 10px;
}
.about-sec{
    display: flex;
    flex-direction: column;
}
.about-sec .about-img img{
    width: 300px;
}
.about-sec .about-text h2{
    font-size: 40px;
}
.about-sec .about-text p{
    padding-top: 20px;
    font-size: 15px;
}
.feature-sec .feature-text h2{
    font-size: 30px;
}
.feature-sec .feature-text p{
       width: 300px;
}
.bestseller-sec .bestseller-text p{
    width: 300px;
    text-align: center;
}
.footer-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    gap: 30px;
}
}





